.crypto-currency-list-container {
  width: 100%;
  background-color: #14161a;
  padding: 20px;
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}
.heading {
  text-align: center;
}
.input-field-container {
  /* width: 100%; */
  height: 40px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  border: 1.3px solid #ccc;
  margin-right: 20px;
}
.input-field {
  width: 97%;
  height: 100%;
  padding: 5px;
  background-color: transparent;
  color: #ffffff;
  font-size: 20px;
  outline: none;
  border: none;
}
.search-icon {
  align-self: center;
  width: fit-content;
  font-size: 20px;
  cursor: pointer;
}
.table-container {
  margin-right: 20px;
}

.table {
  margin-top: 20px;
  width: 100%;
  height: 100%;
  border-collapse: collapse;
}

.head {
  font-size: 20px;
  height: 20px;
  margin-bottom: auto;
  text-align: left;
  padding-left: 10px;
}

.hr-line {
  width: 100%; /* Set width to 100% */
  border: none; /* Remove default border */
  height: 2px; /* Set height of the line */
  background-color: red; /* Set color of the line */
  margin: 0; /* Remove default margin */
}

.main-row {
  background-color: gold;
  color: black;
}
.row-value-item {
  background-color: #16171a;
  cursor: pointer;
  font-family: "Montserrat";
  border-bottom: 1.2px solid red;
}
.row-value-item:hover {
  background-color: #131111;
}

.table-cell-img {
  height: 60px;
  margin-bottom: 10px;
  margin-left: 10px;
}
.coin-cell {
  display: flex;
  flex-direction: row;
  gap: 15px;
  margin: 10px;
}
.table-cell-coin-text-container {
  display: flex;
  flex-direction: column;
}
.fetched-symbol {
  font-size: 22px;
}
.fetched-name {
  color: darkgray;
  font-weight: normal;
}
.left {
  padding-left: 50px;
}
