.coin-chart-container {
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.btn {
  width: 150px;
  height: 40px;
  margin: 10px;
  color: #ffffff;
  background-color: transparent;
  border: 1.2px solid gold;
  font-size: 18px;
  cursor: pointer;
}
.highlight {
  background-color: gold;
  color: #000;
}
